*{
    margin: 0;
    padding: 0;
}
.bookReturnContainor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #dad7cd;
}
.leftReturnContainor{
    width: 16%;
    height: 120vh;  
}
.rightReturnContainor{
    width: 84%;
    height: 120vh;
    background-color: #dad7cd;
}
.bookReturnRightContainor{
    width: 100%;
    height: 110%;
    padding-left: 50px;
    padding-top: 5px;
    background-color: #dad7cd;
}
.bookReturnRightContainor h6{
    color: black;
}
.divReturnFormContainor{
    width: 100%;
    background-color: #dad7cd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mb-3{
    width: 100vh;
}
.buttonDiv{
    width: 95%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.buttonDiv Button{
    margin: 5px;
}