*{
    margin: 0;
    padding: 0;
}
.fineManagementContainor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180vh;
    background-color: #dad7cd;
}
.leftfineManagementContainor{
    width: 16%;
    height: 120vh;  
}
.rightfineManagementContainor{
    width: 84%;
    height: 180vh;
    background-color: #dad7cd;
    border: 1px solid red;
}
.fineManagementRightContainor{
    width: 100%;
    height: 89%;
    padding-left: 50px;
    padding-top: 5px;
    background-color: #dad7cd;
}
.fineManagementRightContainor h6{
    color: black;
}
.divfineManagementFormContainor{
    width: 100%;
    background-color: #dad7cd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mb-3{
    width: 100vh;
}
.buttonDiv{
    width: 95%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.buttonDiv Button{
    margin: 5px;
}