* {
    margin: 0;
    padding: 0;
}

.librarianDashboardContainor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150vh;
    background-color: #dad7cd;
}

.leftLibrarianDashboardContainor {
    width: 16%;
    height: 120vh;
}

.rightLibrarianDashboardContainor {
    width: 84%;
    height: 150vh;
    background-color: #dad7cd;
}

.bookLibrarianDashboardRightContainor {
    width: 100%;
    height: 89%;
    padding-left: 50px;
    padding-top: 5px;
    background-color: #dad7cd;
}

.bookLibrarianDashboardRightContainor h6 {
    color: black;
}

.dashboardTilesRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 100px;
}

.dashboardTile {
    width: 15%;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    padding: 5px;
    color: white;
    background-color: #3a5a40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    font-size: 15px;
}

.dashboardTile:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 16px;
}

.chart1Containor {
    width: 30%;
    height: 100%;
}

.firstRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    height: 300px;
    margin-top: 80px;
}

.chart1Containor h6 {
    color: black;
    text-align: center;
}

.dashboardTableContainor {
    width: 27%;
    height: 300px;
}
.dashboardTableContainor h6{
    color: black;
    text-align: center;
}
.librarianDashboardTableHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #3a5a40;
    font-size: 15px;
}
.librarianDashboardTableHeaderItem{
    width: 25%;
    text-align: center;
}
.librarianDashboardTableItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: white;
    font-size: 15px;
    height: 30px;
}