*{
    margin: 0;
    padding: 0;
}
.librarianRegisterContainor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130vh;
    background-color: #dad7cd;
}
.leftlibrarianRegisterContainor{
    width: 16%;
    height: 120vh;  
}
.rightlibrarianRegisterContainor{
    width: 84%;
    height: 130vh;
    background-color: #dad7cd;
}
.librarianRegisterRightContainor{
    width: 100%;
    height: 89%;
    padding-left: 50px;
    padding-top: 5px;
    background-color: #dad7cd;
}
.librarianRegisterRightContainor h6{
    color: black;
}
.divlibrarianRegisterFormContainor{
    width: 100%;
    background-color: #dad7cd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mb-3{
    width: 100vh;
}
.buttonDiv{
    width: 95%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.buttonDiv Button{
    margin: 5px;
}