*{
    margin: 0;
    padding: 0;
}
.bookManagementContainor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.leftContainor{
    width: 16%;
    height: 100vh;  
}
.rightContainor{
    width: 84%;
    height: 100vh;
}
.bookManagementtileContainor{
    width: 100%;
    height: 89%;
    padding-left: 50px;
    padding-top: 5px;
    background-color: #778da9;
}
.bookManagementtileContainor h5{
    margin-bottom: 15px;
    color: white;
}
.bookManagementTileRow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28%;
}
.bookManagementTile{
    width:20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookManagementTitle:hover{
    cursor: pointer;
}
.textContainor{
    padding-top: 55px;
    text-align: center;
    width: 70%;
    height: 75%;
    background: linear-gradient(to bottom, #5f0f40, #5f0f40);
    border-radius: 20px;
    color: white;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}
.textContainor:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    text-decoration: none;
    color: yellow;
    cursor: pointer;
}