* {
    padding: 0;
    margin: 0;
}

.homeBackground {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeBackground::before {
    content: "";
    background-image: url("./backgroundImage.jpg");
    background-size: cover; /* Add this line */
    background-position: center; /* Add this line */
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#intro {
    color: white;
}

.intro h1{
    font-size: 60px;
    color: black;
    display: block; /* Add this line */
}

.nameLogo .intro {
    width: 50%;
    border: border-box; /* This should be border-box or border: 1px solid black; for example */
}

.nameLogo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameLogo img{
    width: 500px;
    height: 200px;
}
.intro {
    margin-right: 5%;
    text-shadow: 5px 5px 5px white;
}

#buttonHome {
    /* margin-left: 260px; Remove this line or adjust for responsiveness */
    background-color: #7f5539;
    border: none;
}
#buttonHome:hover {
    background-color: #a87d5d;
    border: none;
}

.package {
    background-color: rgb(232, 232, 232);
    height: 100vh;
}

.linkHome {
    text-decoration: none;
    color: white;
}
