* {
    padding: 0;
    margin: 0;
}

.homeBackground {
    height: 100vh;
    width: 100%;
    display: flex;    
    justify-content: space-between;
}

.backgroundImageHolder{
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    width: 87%;
    height: 100vh;
    background-image: url("./backgroundImage5.jpg");
    background-size: cover;
    background-position: center;
}
#intro {
    color: white;
}

.intro h1{
    font-size: 60px;
    color: #dad7cd;
    display: block; /* Add this line */
}

/* .nameLogo .intro {
    width: 50%;
    border: border-box; /* This should be border-box or border: 1px solid black; for example */
/* } */ */

.nameLogo {
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;

}
.intro {
    width: 70%;
    margin-right: 5%;
    text-shadow: 5px 5px 5px white;
}

#buttonHome {
    /* margin-left: 260px; Remove this line or adjust for responsiveness */
    background-color: #ee9b00;
    border: none;
}
#buttonHome:hover {
    background-color: #a87d5d;
    border: none;
}

.package {
    background-color: rgb(232, 232, 232);
    height: 100vh;
}

.linkHome {
    text-decoration: none;
    color: white;
}
