*{
    margin: 0;
    padding: 0;
}
.viewBookReplacementContainor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
    background-color: #dad7cd;
}
.leftviewBookReplacementContainor{
    width: 16%;
    height: 120vh;  
}
.rightviewBookReplacementContainor{
    width: 84%;
    height: 120vh;
    background-color: #dad7cd;
}
.viewBookReplacementRightContainor{
    width: 100%;
    height: 89%;
    padding-left: 50px;
    padding-top: 5px;
    background-color: #dad7cd;
}
.viewBookReplacementRightContainor h6{
    color: black;
}
.divviewBookReplacementBookFormContainor{
    width: 100%;
    background-color: #dad7cd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mb-3{
    width: 100vh;
}
.buttonDiv{
    width: 95%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.buttonDiv Button{
    margin: 5px;
}