*{
    margin: 0;
    padding: 0;
}
.bookManagementContainor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.leftBookManagementContainor{
    width: 16%;
    height: 100vh;  
}
.rightBookManagementContainor{
    width: 84%;
    height: 100vh;
}
.bookManagementtileContainor{
    width: 100%;
    height: 89%;
    padding-left: 50px;
    padding-top: 5px;
    background-color: #dad7cd;
}
.bookManagementtileContainor h6{
    color: black;
}
.bookManagementTileRow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28%;
}
.bookManagementTile{
    width:20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookManagementTitle:hover{
    cursor: pointer;
}
.textContainor{
    padding-top: 55px;
    text-align: center;
    width: 70%;
    height: 75%;
    background: linear-gradient(to bottom, #3a5a40, #588157);
    border-radius: 20px;
    color: white;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.textContainor:hover{
    width: 72%;
    height: 77%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    text-decoration: none;
    color: #dad7cd;
    cursor: pointer;
}